<h1>{{ title }}</h1>

<section class="main_cntainer" >
  <ol>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/installation_and_setup" target="_blank">Installation and Setup</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/common_command" target="_blank">Basic Angular Command or CLI</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/components"  target="_blank">Components</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/template_and_data_binding" target="_blank">Template and Data Binding</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/event_binding" target="_blank">Event Binding</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/play_with_data_binding" target="_blank">Play with Data Binding</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/module" target="_blank">Modules</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/form_handling" target="_blank">Form Handling</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/directives" target="_blank">Directives</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/custom_directive" target="_blank">Custom Directives</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/pipes" target="_blank">Pipes</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/github_explorer" target="_blank">Github Explorer</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/input_output_decorator" target="_blank">Input and Output decorator</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/routing" target="_blank">Routing</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/simple_counter" target="_blank">Simple counter</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/crud_operation_without_state_management" target="_blank">Crud operation without state management</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/simple_counter" target="_blank">Counter app without NgRx</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/state_managments_ngrx" target="_blank">Counter app with NgRx</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/github_explorer" target="_blank">Mini project</a></li>
    <li><a href="https://github.com/alalUDDIN123/angular_practice/tree/testing_angular_application" target="_blank">Testing Angular Application</a></li>
  </ol>
</section>