<section style="text-align: center;">
  <h1>Input and output decorator</h1>
  <app-child [GetData]="sendToChild" (dataEvent)="getData($event)"></app-child>
  <p>==========================================</p>
  <h3 *ngIf="childData">{{childData.title}}</h3>
  <p>+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
  <app-child (todoEvent)="holdTodo($event)"></app-child>
  <ul *ngIf="todo">
    <li *ngFor="let todo of todo">
      {{todo}}
    </li>
  </ul>
</section>