/* .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:disabled {
    background-color: #999999;
    cursor: not-allowed;
}

.loading {
    text-align: center;
    margin-top: 10px;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.readme-content {
    margin-top: 20px;
}

.step {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} */


/* style for complete readme content */

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.formContainer {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.formContainer label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.formContainer input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

 .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.formContainer .btn:disabled {
    background-color: #999999;
    cursor: not-allowed;
}

.content_container {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.loading {
    text-align: center;
    margin-top: 10px;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.readme-content {
    margin-top: 20px;
    overflow: auto;
}

.readme-content pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
}

.readme-content img {
    max-width: 100%;
    height: auto;
}